# The globally accessible URL on which the socket.io is accessible.
# /socket.io/ should be available under this URL.
MULTIPLAYER_CIRCLES_SERVER=http://localhost:17771/

# Port on which socket.io will actually listen.
# The sysadmin is responsible for reverse proxying or opening ports
# so that this is accessible over the URL above.
MULTIPLAYER_CIRCLES_PORT=17771
